
//Accordion;
$accordion-border-color:#aeaeae;
$accordion-button-focus-box-shadow:transparent;
$accordion-button-active-bg:transparent;
$accordion-button-focus-border-color:transparent;
$accordion-padding-x:0rem;
$accordion-padding-y:0rem;  
// $accordion-button-icon: url();
// $accordion-button-active-icon: url();
$accordion-body-padding-y: 0.6rem;
$accordion-button-focus-border-color:transparent;
$accordion-button-focus-box-shadow:transparent;

$accordion-icon-width:1rem;



@import "../../node_modules/bootstrap/scss/bootstrap";
