.accor {
  width: 100%;
}

.accor-header {
  background-color : #1e457a;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: center;
}

.accor-header h5 {
  color: #fff;
  font-weight: 700;
}

.accor-header i {
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.accor-body {
  width: 100%;
  background-color:transparent;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.accor-body.show {
  max-height: 150px;
  /* padding: 10px; */
}

.accor-body .accor-content {
  padding: 10px;
}

.accor-body .accor-content p {
  color: black;
  font-weight: 600;
  /* padding: 10px; */
}

.reverse-arrow {
  transform: rotate(180deg);
}

